<!DOCTYPE html>
<html ng-app="agendaTelefonica">

	<head>
		<meta charset="utf-8">
		<title>Agenda Telefônica</title>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	
	</head>

	<body>
		<div class="container-fluid">
			<div class="row" ng-controller="listaTelefonicaCtrl">
				<h2 style="color:#660000;">{{app}}</h2>
				<table class="table table-striped">
					<thead>
						<tr style="background-color: #666666; color: #FFF;">
							<th></th>
							<th>Nome</th>
							<th>Apelido</th>
							<th>Telefone</th>
							<th>Operadora</th>
							<th>Código</th>
						</tr>
					</thead>
					<tbody>
						<tr style="background-color: #CCCCCC; " ng-repeat="contato in contatos">
							<td>
								<input type="checkbox">
							</td>
							<td>{{contato.nome}}</td>
							<td>{{contato.apelido}}</td>
							<td>{{contato.telefone}}</td>
							<td>{{contato.operadora.nome}}</td>
							<td>{{contato.operadora.codigo}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>

	<script src="js/app.js"></script>
	</body>
</html>